/* CSS reset */
div,header,main,footer,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote {
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
}
ol,ul {
  list-style:none;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
/* ********************* */

/* start body */
body{
  font-family:Arial, Helvetica, sans-serif;
  width:85%;
  margin:auto;
}
/* end body */

/* start header */
header{
  display:flex;
  flex-flow:row;
  height:6rem;
  align-items:center;
  background-color:darkorange;
}

#icon{
  width:6em;
}
#icon img{
  width:100%;
}
#blog-header{
  padding-left:0.4em;
  font-size:2.5rem;
  font-weight:600; 
}
/* end header */

/* start main */
main{
  padding:0rem 2rem;
  border:solid 1.5px darkorange;
}
article{
  margin:3rem 0rem 12rem;
}
article img{
  display:inline-block;
  max-width:100%;
}
article p{
  font-size: 1.5rem;
  margin:0.5rem 0rem;
  text-align:justify;
}
h2{
  margin-bottom:2.5rem;
  font-size:2.5rem;
  font-weight:500;
  text-align:center;
}
section{
  margin-bottom:2.5rem;
}
section h3{
  font-size:2rem ;
  font-weight:400;
  color:darkorange;
  clear:both;
}
#cyf-london-office{
  display:block;
  margin:auto;
  width:600px;
  height:auto;
}
#the-alleyway,#blue-star-house{
  margin-top:0.5rem;
  width:540px;
  height:auto;
}
#the-alleyway{
  float:left;
  margin-right:2rem;
}
#blue-star-house{
  float:right;
  margin-left:2rem;
}
/* end main */

/* start footer */
footer{
  padding:2rem;
  background-color:darkorange;
}
footer ul{
  display:flex;
  justify-content:space-around;
  align-items:center;
  font-size:1.2rem;
}
footer .link{  
  text-decoration:none;
}
footer .link:hover{
  color:darkred;
}
footer .link:visited{
  color:red;
}
/* end footer */

/* start media queries */
@media (max-width: 640px) {
  article img {
    width: 100%;
    float:none;
    margin:1rem auto;
  }
}

/* end media queries */